/* Main */
.content-wrapper {
    margin: 0 !important;
}

.content{
    padding: 5px !important;
}

.main-header {
    background-color: #fff !important;
}

.main-footer {
    margin: 0 !important;
    padding: 5px 8px !important;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
}


/* Navbar */
.nav>li>a:active, .nav>li>a:focus, .nav>li>a:hover{
    color: inherit !important;
    background-color: inherit !important;
}

.navbar-custom-menu .navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 12px;
    line-height: 20px;
}

.main-header .logo{
    padding: 0 5px !important;
}

.logo-lg {
    text-align: left;
}

header {
    border-bottom: 1px solid #d2d6de;
}

/* Panels */
.panel {
    border-radius: 0;
}
.panel-heading {
    padding: 4px 8px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.panel-body {
    padding: 4px 8px !important;
}